.btn-sc-secondary {
    background-color: #f89604;
    color: #ffffff;
}

.required {
    color: red;
}

.cs-card {
    background-color: #0f70ad;
    color: #ffffff;
}

.cs-card-danger {
    background-color: #922b21;
}

.cs-card-warning {
    background-color: #dc7633;
}

.cd-card-primary {
    background-color: #2471a3;
}

#idcard {
    width: 1000px;
    height: 350px;
    margin: auto;
    margin-right: 100px;
    background-image: url("/assets/images/card.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -webkit-print-color-adjust: exact;
}
#img {
    margin-top: 28px;
    margin-left: 10px;
    border-radius: 8px; /* Rounded border */
    padding: 5px; /* Some padding */
    width: 110px; /* Set a small width */
    height: 200px;
    /* margin:10px; */
}
#qr {
    margin-top: -100px;
    margin-left: 365px;
    border-radius: 8px; /* Rounded border */
    border-style: solid;
    border-color: #002efe;
    padding: 5px; /* Some padding */
    width: 100px; /* Set a small width */
    height: 100px;
    /* margin:10px; */
}

.texts {
    margin-top: 12px;
    font-size: 12px;
}
.texts-left {
    margin-top: 20px;
    font-size: 12px;
}
.address {
    margin-right: 120px;
    margin-left: 20px;
    /* margin-top: 2px; */
    font-size: 12px;
}
.identity {
    height: 350px;
    margin-bottom: 100px;
    margin-left: 80px;
    padding-top: 39px; /* Some padding */
    font-size: 12px;
    font-style: bold;
}
